<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Home
      {% endblock %}
    </title>
    
    {% load static %}
    {% block static %} 
      
      <link rel="stylesheet" href="{% static "css/root_styles.css" %}"> 
      

    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  </head>
  <body>

    <nav class="sidebar">
      <ul class="sidebar-nav">
        <li class="logo">
          <a href="#" class="nav-link-logo">
            <span class="link-text logo-text">ICESI</span>
            <svg  
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="angle-double-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
            >
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
            <span class="link-text">Área Personal</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'crear_evento' %}" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M88.7 223.8L0 375.8V96C0 60.7 28.7 32 64 32H181.5c17 0 33.3 6.7 45.3 18.7l26.5 26.5c12 12 28.3 18.7 45.3 18.7H416c35.3 0 64 28.7 64 64v32H144c-22.8 0-43.8 12.1-55.3 31.8zm27.6 16.1C122.1 230 132.6 224 144 224H544c11.5 0 22 6.1 27.7 16.1s5.7 22.2-.1 32.1l-112 192C453.9 474 443.4 480 432 480H32c-11.5 0-22-6.1-27.7-16.1s-5.7-22.2 .1-32.1l112-192z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
            <span class="link-text">Crear Evento</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'crear_evento' %}" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M72 88a56 56 0 1 1 112 0A56 56 0 1 1 72 88zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3V245.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5V416c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V389.2C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112h32c24 0 46.2 7.5 64.4 20.3zM448 416V394.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176h32c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2V416c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32zm8-328a56 56 0 1 1 112 0A56 56 0 1 1 456 88zM576 245.7v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 32a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM240 304c0 16.2 6 31 16 42.3V261.7c-10 11.3-16 26.1-16 42.3zm144-42.3v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2V448c0 17.7-14.3 32-32 32H288c-17.7 0-32-14.3-32-32V405.2c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112h32c61.9 0 112 50.1 112 112z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
            <span class="link-text">Comentarios</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'evento' %}" class="nav-link">
            <span class="link-text">Listado de Eventos</span>
          </a>
        </li>
        
        


        <li class="nav-item" id="themeButton">
          <a href="#" class="nav-link">
            <span class="link-text">USER</span>
          </a>
        </li>
      </ul>
    </nav>

    <header id="page-header">
      <div class="header-content">
        <nav class="navigation-bar">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Área Personal</a>
            </li>
            
            {% block breadcrumb-items %} 
              <li class="breadcrumb-item">
                <a href="">Example Patch 1</a>
              </li>
              <li class="breadcrumb-item">
                <a href="">Example Patch 2</a>
              </li>
            {% endblock breadcrumb-items %}

            
          </ol>
        </nav>

        {% block actual_patch %}
        <h2>Actual Patch</h2>
        {% endblock actual_patch %}
        
      </div>
    </header>

    {% block index_bar %}{% endblock %}
    <!-- index_bar block -->

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <!-- content block -->

    {% block test %}{% endblock %}
    <!-- footer block -->
  </body>
</html>