{% extends "root.html" %}
{% block title %}Formulario de Usuario{% endblock title %}
{% load static %}

{% block static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/crearEventoStyle.css' %}">
{% endblock %}

{% block actual_patch %}
    <h2>Crear Usuario</h2>
{% endblock actual_patch %}

{% block breadcrumb-items %} 
    <li class="breadcrumb-item">
        <a href="">Creación de usuarios</a>
    </li>
{% endblock breadcrumb-items %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
