<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion del usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Detalles del usuario</h1>
        <p>Nombre de usuario: <strong>{{ user.nombre }}</strong></p>
        <p>Identificador: <strong>{{ user._id }}</strong></p>
        <p>Nombre completo: <strong>{{ user.nombreCompleto }}</strong></p>
        <p>Relacion con la institucion: <strong>{{ user.relacion }}</strong></p>
        <p>Email: <strong>{{ user.email }}</strong></p>
        <p>Ciudad: <strong>{{ user.ciudad }}</strong></p>
    </div>
</body>
</html>